@(title: String)
<h1>YEAAAAAH2!!!!!!!!!!</h1>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="en-us" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Force the browser to run in IE8 compatible mode -->
<!-- meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/ -->
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="MSSmartTagsPreventParsing" content="true" />

<meta name="description" content="Energy Project" />
<meta name="keywords" content="Consulting, Services" />

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">

<script data-main='@routes.Assets.versioned("javascripts/bootstrap.min")' type="text/javascript" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>

<title>@title</title>

<!-- CSS -->
